html
{
    /* https://www.sitepoint.com/understanding-and-using-rem-units-in-css/ */
    font-size: 62.5% /* =10px - this affects the rem values used below. */
}
/* Fix for iphone  */
@media  only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2),
        only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3),
        only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)
{
    html
    {
        font-size: 100%;
    }
}

body
{
    padding: 0;
    margin: 0;
    --common-text-shadow: 1px 1px 1px #00000026;
    --nav-width: 15rem;
    --dat-gui-container-size: 25rem;
}

.scrollable-text
{
    overflow: auto;
    text-overflow: clip;
    white-space: nowrap;
    width: 100%;
}

.custom-scrollbar::-webkit-scrollbar
{
    width: .5rem;
    height: .5rem;
    background: #1a1a1a3d;
}
.custom-scrollbar::-webkit-scrollbar-corner
{
    height: 0;
    display: none;
}
.custom-scrollbar::-webkit-scrollbar-thumb
{
    border-radius: .5rem;
    background: #676767;
}

.layout
{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: calc(100% - var(--dat-gui-container-size)) var(--dat-gui-container-size);
    grid-template-rows: 100%;
    grid-template-areas:
        "content gui";
    pointer-events: painted;
}

.layout--canvas
{
    grid-column: content / span 2;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 100%;
    height: 100%;
}

.layout--gui
{
    grid-area: gui;
    max-height: 100%;
    pointer-events: painted;
}

/* @media only screen and (max-device-width: 480px) { */
/* Mobile layout */
@media (max-width: 480px),
    only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2),
    only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3),
    only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)
{
    .layout {
        grid-template-columns: 100% 0px;
    }

    .layout--gui
    {
        display: none;
    }
}

.overlay--root
{
    display: grid;
    grid-template-columns: var(--nav-width) auto;
    grid-template-rows: 1fr 8rem;
    grid-template-areas:
        "nav bim"
        "nav poi";
    height: 100%;
    width: 100%;
}

.overlay--nav
{
    grid-area: nav;
    width: 100%;
    height: 100%;
    background: transparent url('./img/VIM Portal Left_Nav_Bkgd@2x.png') 0% 0% no-repeat padding-box;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 10000;
}

#logo
{
    background: transparent url('./img/VIM logo WHITE@2x.png') 0% 0% no-repeat;
    background-size: cover;
    width: 5.63rem;
    height: 6.4rem;
    margin-top: 3.2rem;
}

@media (max-width: 480px),
    only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2),
    only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3),
    only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)
{
    .overlay--root {
        grid-template-columns: 100%;
        grid-template-rows: 6rem 1fr 8rem;
        grid-template-areas:
            "nav"
            "bim"
            "poi";
    }

    .overlay--nav
    {
        background-image:
            url('img/hex_pattern.png'),
            linear-gradient(163deg, #0590CC 0%, #7EBF50 100%);
        background-blend-mode: normal;
        flex-direction: row;
        justify-content: flex-start;
    }

    #logo
    {
        background: transparent url('img/VIM logo WHITE landscape.png') 0% 0% no-repeat padding-box;
        background-size: cover;
        width: 6.391rem;
        height: 2.4rem;
        margin: 0 0 0 2.5rem;
    }
}

.bdc--pane /* bdc = bim-data-container */
{
    grid-area: bim;
    margin: 1rem;
    background-color: white;
    justify-self: flex-start;
    align-self: auto;
    font-family: 'Roboto', sans-serif;
    display: grid;
    --pane-width: 36.5rem;
    --pane-height: 43.8rem;
    grid-template-columns: var(--pane-width);
    grid-template-rows: auto auto;
    grid-template-areas:
    "header"
    "body";
    box-shadow: .5rem .5rem 1.4rem #00000026;
    border-radius: .8rem .8rem 0 0;
    z-index: 10000;
    width: var(--pane-width);
    height: var(--pane-height);
}
@media (max-width: 480px),
    only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2),
    only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3),
    only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)
{
    .bdc--pane
    {
        justify-self: center;
        align-self: center;
        margin: auto 0 0 0;
    }
}

.bdc--header
{
    grid-area: header;
    color: white;
    border-radius: .8rem .8rem 0 0;
    background: #3F433D 0% 0% no-repeat padding-box;
    padding: 25px;
    display: grid;
    grid-template-columns: auto auto 2.5rem;
    grid-template-rows: auto 1.7rem auto auto;
    grid-template-areas:
    "title        title       close"
    ".            .           ."
    "label-family label-type  ."
    "value-family value-type  .";
    grid-column-gap: 1rem;
    align-items: baseline;
}

.bdc--title
{
    grid-area: title;
    text-align: left;
    font-size: 2.8rem;
    letter-spacing: -.048rem;
    text-shadow: var(--common-text-shadow);
    width: 100%;
    height: 100%;
}

.bdc--close
{
    grid-area: close;
    justify-self: right;
    font-size: 2.5rem;
    cursor: pointer;
    z-index: 1000;
}

.bdc--label
{
    font-size: 1.1rem;
    letter-spacing: -.02rem;
    opacity: 0.4;
    align-self: end;
}

.bdc--label__family { grid-area: label-family; }
.bdc--label__type   { grid-area: label-type; }
.bdc--label__count  { grid-area: label-count; }

.bdc--value
{
    font-size: 2.1rem;
    letter-spacing: -.036rem;
    text-shadow: var(--common-text-shadow);
    align-self: end;
}
.bdc--value__family { grid-area: value-family; }
.bdc--value__type   { grid-area: value-type; }
.bdc--value__count  { grid-area: value-count; }

.bdc--body
{
    grid-area: body;
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 1rem;
    padding: 1.5rem;
    overflow: auto;
}

.bdc--body__subtitle
{
    font-size: 1.8rem;
    color: #2AAAE2;
    margin-bottom: 2rem;
}

.bdc--body__value-region
{
    background: rgba(63, 67, 61, 0.1) 0% 0% no-repeat padding-box;
    border-radius: .4rem;
    padding: 1rem 1.5rem
}

.bdc--body__value
{
    font-size: 1.4rem;
    color: #3F433D;
    margin-bottom: 1rem;
}
.bdc--body__value:last-of-type { margin-bottom:0; }

.bdp--linear-progress-container
{
    grid-area: bim;
    width: 100%;
    height: 1rem;
}
.bdp--progress
{
    background-color: transparent !important;
}
.bdp--progress > .MuiLinearProgress-barColorPrimary
{
    /* background-color: #0e8dc3 !important; */
    background-color: #01afe9 !important;
}

.poi
{
    grid-area: poi;
    background-color: #ffffff;
    box-shadow: .5rem .5rem 2rem #0000004D;
    border-radius: 3rem;
    color: #0590CC;
    justify-self: center;
    align-self: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    display: grid; 
    grid-template-columns: 6rem 21.5rem 6rem;
    grid-template-rows: 6rem;
    grid-template-areas: "prev name next";
    align-items: center;
    z-index: 10000;
}

.poi--name-container {
    grid-area: name;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}
.poi--name {
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
.poi--btn {
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.poi--prev {
    grid-area: prev;
}
.poi--next {
    grid-area: next;
}
